<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewpoint">
    <title>上傳租屋資料</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>    
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrH6PFm6YsUakE6OxkTi3ekc_bp827osQ&amp;libraries=geometry&amp;callback=initMap&amp;language=zh-TW" async="" defer=""></script>
    <script src="js/app.js"></script>    
    
    </head>
    <body>
        <div id="landing" >
            <div class="ui stackable secondary menu" id="menu" style="background-image: url('img/background.png');background-size: cover !important;height: 120px;">
                <div class="item"><i class="building primary huge icon" ></i></div>
                <a class="item" id="header" href="/">首頁</a>
                <a class="item" id="header" href="/search">租房</a>
                <a class="item" id="header" href="/upload">出租</a>
                <div class="right item">
                    <div>
                        <div class="item">
                            <div class="right floated content">
                                <form method="POST" action="/get_profile">
                                    <input type="hidden" name="house_num" value="{{data.house_num}}"/>
                                    <input type="hidden" name="user_num" value="{{user_info.user_num}}"/>
                                    <button style=" border-radius: 50%; height: 50px; width: 50px; border: none;background-color: #964B00;font-weight: bold; color: white;cursor: pointer;">{{user_info.username}}</button>
                                </form>
                            </div>
                            <div class="right floated content">
                                <form method="POST" action="/logout">
                                    <button class="ui inverted basic white button" style="margin-left: 20px;" type="submit">登出</button>
                                </form>                               
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        
            <div class="ui two column centered grid">
                
                <div class="left aligned four wide column">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="inline field" >
                        
                        <h3 >上傳照片</h3>
                        <br>
                        <div id="uplaod-wrap">
                        <label>圖片1:</label>   
                            <input id="upload" type="file" accept="image/*" onchange="loadFile(event)" >
                            <img id="output" width="100%" src="{{data.picture1}}"/>
                            <div id="picURL-error" class="error" ></div>
                        </div>
                        <div id="uplaod-wrap2">
                            <label>圖片2:</label>   
                            <input id="upload2" type="file" accept="image/*" onchange="loadFile2(event)">
                            <img id="output2" width="100%" src="{{data.picture2}}"/>
                            <div id="picURL2-error" class="error" ></div>
                            <br>
                            <button type="button" id="clearPic_btn" onclick="clearPage()" cond="unchange">清空圖片</button>      
                        </div>
                        <div id="picURL" url=""></div>
                        <div id="picURL2" url=""></div>
                    </div>
                </div>
                   
                <div class="left aligned eight wide column">
                    <br>
                    <br>
                    <div id="upload" >
                        <form class="ui form" method="POST"  id = "upload_data" enctype="multipart/form-data"></form>
                        <br>
                        <br>
                        
                            
                            <h2 class="ui header" >
                            <div class="content" >
                                <i class="home large icon"></i>
                            出租資訊
                            </div>
                            </h2>
                    </div>                    
                    <div class= "ui list" >
                        <div class="inline field">
                            <label >地區</label>
                            <select class="ui dropdown" id="region" style="width: 80%;">
                                <option value="台南">台南</option>
                                <option value="中西區">中西區</option>
                                <option value="東區">東區</option>
                                <option value="南區">南區</option>
                                <option value="北區">北區</option>
                                <option value="安平區">安平區</option>
                                <option value="安南區">安南區</option>
                                <option value="永康區">永康區</option>
                                <option value="歸仁">歸仁</option>
                                <option value="新化">新化</option>
                                <option value="左鎮">左鎮</option>
                            </select>
                            <div id="region-error" class="error" style="margin-left: 30px;"></div>
                        </div>
                        <br>
                        <div class="inline field">
                            <label >類型</label>
                            <select class="ui dropdown" id="house_type" style="width: 80%;" kind="{{data.kind}}">
                                <option value="0,1,2,3,4">類型</option>
                                <option value="0">雅房</option>
                                <option value="1">套房</option>
                                <option value="2,3,4">家庭式</option>
                            </select>
                            <div id="house_type-error" class="error" style="margin-left: 30px;"></div>
                        </div>
                        <br>
                        <div class="地址">
                            <i class="map pin icon"></i>
                            <label >地址：</label >
                            <input id="address" style="width: 64%; "type="text" name="address" placeholder="台南" value="{{data.address}}">
                            <div id="address-error" class="error" style="margin-left: 70px;"></div>
                        </div>
                        <br>
                        <div class="inline field">
                            <label ><i class="bed icon"></i>格局：</label>
                            <input id="type" style="width: 75%;"type="text" name="type" placeholder="幾房 幾廳 幾衛浴" value="{{data.structures}}">
                            <div id="type-error" class="error" style="margin-left: 70px;"></div>
                        </div>
                        <br>
                        <div class="inline field">
                            <label ><i class="dollar sign icon"></i>價格：</label>
                            <input id="price" style="width: 75%;"type="number" name="price" placeholder="$元/月" value="{{data.price}}">
                            <div id="price-error" class="error" style="margin-left: 70px;"></div>
                        </div>
                        <br>
                        <div class="inline field">
                            <div >
                                <input type="checkbox" name="fire" id="fire" fire="{{data.fire}}" value="0">
                                <label  style="padding-right: 10%;"><i class="fire icon"></i> 開火</label>
                                <input type="checkbox" name="pet" id="pet" pet="{{data.pet}}" value="0">
                                <label><i class="paw icon"></i> 寵物</label>
                            </div>

                            <div >
                               
                            </div>
                            
                        </div>
                        <br>
                            
                        <div class="inline field">
                            <label >描述 : </label>
                            <textarea style="width: 80%;height:150px;"type="text" name="house_info" placeholder="" id="house_info">{{data.house_info}}</textarea>
                            <div id="house_info-error" class="error" style="margin-left: 40px;"></div>
                        </div>
                        <br>
                        <div class="inline field" id ="submit_btn">
                        <button class="ui primary button" type="submit" id="data_submit" >Submit</button>
                        <button type="reset" class="ui button" id="clear_btn">Clear</button>
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>    
             
        </div>
    
    </body>

    <script>    
        let loadFile = function(event) {
            $('#output').attr('src', URL.createObjectURL(event.target.files[0]))
        }
        let loadFile2 = function(event) {
            $('#output2').attr('src', URL.createObjectURL(event.target.files[0]))
        }
        function clearPage(){
            $('#upload').css('display', 'initial')
            $('#upload2').css('display', 'initial')            
            $('#output').attr('src', '')
            $('#output2').attr('src', '')
            $('#clearPic_btn').attr('cond', 'change')
            $("#picURL").attr('url', "");
            $("#picURL2").attr('url', "");
        }

        $(document).ready(function(){      
            if($('#address').val()){
                $('#upload').css('display', 'none')
                $('#upload2').css('display', 'none')
                $('#region').val('{{data.region}}')
                $('#picURL').attr('url', '{{data.picture1}}')
                $('#picURL2').attr('url', '{{data.picture2}}')               
                if($('#house_type').attr('kind') == 0){
                    $('#house_type').val('0')    
                }else if($('#house_type').attr('kind') == 1){
                    $('#house_type').val('1')
                }else{
                    $('#house_type').val('2,3,4')
                }
                
                if($('#fire').attr('fire') == 1){
                    $('input[name=fire]').prop('checked', true) 
                }

                if($('#pet').attr('pet') == 1){
                    $('input[name=pet]').prop('checked', true) 
                }
            }

            $('body').on('change', '#upload', function(){
                readURL(this)
            })
            $('body').on('change', '#upload2', function(){
                readURL2(this)
            })

            $('body').on('click', '#clear_btn',function(){
                $('#region').val('台南')
                $('#house_type').val('0,1,2,3,4')
                $('input[name=address]').val('') 
                $('input[name=type]').val('')
                $('input[name=price]').val('')
                $('#house_info').val("")
                $('input[name=fire]').prop('checked', false) 
                $('input[name=pet]').prop('checked', false) 

            })

            $('body').on('click', '#data_submit', function(){             
                upload()

            })                      

        })
    </script>    
</html>