<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewpoint">
    <title>使用者頁面</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    
    </head>
    <body>
      <div id="landing" >
        <div class="ui stackable secondary menu" id="menu" style="background-image: url('img/background.png');background-size: cover !important;height: 120px;">
            <div class="item"><i class="building primary huge icon" ></i></div>
            <a class="item" id="header" href="/">首頁</a>
            <a class="item" id="header" href="/search">租房</a>
            <a class="item" id="header" href="/upload">出租</a>
            {{!-- <a class="item" id="header" href="#">{{login_username}}</a> --}}
            <div class="right item">
                <div class="ui stackable list">
                    <div class="item">
                        <div class="right floated content">
                            <form method="POST" action="/logout">
                                <button class="ui inverted basic white button" style="margin-left: 20px;" type="submit">登出</button>
                            </form>                               
                        </div>
                    </div>   
                </div>
            </div>
        </div>
      </div>  
      <div class="ui stackable two column centered grid">
          <div class="center aligned four wide column">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <div style="align-items: center; ">
                <img style="height: 200px;" src="img/user.jpg">
                <h3 id="user_name">{{data.[0].username}}</h3>
                <h3 id="user_num">{{data.[0].phone}}</h3>
                <button class="ui big white button" id="edit_button">編輯</button>
                <button class="ui big white button" style="display: none;" id="done_button">完成</button>
              </div>
              
          </div>
          
          <div class="twelve wide column">
              <br>
              <br>
              <h2 class="ui header" >
                  <i class="home icon"></i>
                  <div class="content" >
                  租屋清單
                  </div>
              </h2>
              <div class="ui divider" ></div>
              <h5 class="ui header" style="text-align: right; width: 100%; padding-right: 20px;padding-bottom: 20px;margin-top: 10px;">
                  <div class="content" id="house_amount"> 已上傳{{data.length}}間房屋</div>
              </h5>
              
              <div class="ui stackable four column grid">
                {{#each data}}
                  <div class="column" style="width: 300px;" id="house_{{house_num}}">
                      <div class="ui large image">
                          <img style="z-index: 1; top: 10px; " src="{{picture1}}">
                          <img style="z-index: 3; top: -15px;left:250px;position: absolute; height: 35px; display: none;"class="x" src="img/delete.png" house_num="{{house_num}}">
                        </div>
                        <div class="middle aligned content">
                          <div class="header">
                              <i class="map marker alternate icon"></i>
                              <label>{{region}}</label>
                              <br>
                            <label id="address">地址:{{address}}</label>
                            <br>
                            <label id="structures">{{structures}}</label>
                          </div>
                          <br>
                          <div class="extra">
                            <form method="POST" action="/edit_house">
                              <input type="hidden" name="house_num" value="{{house_num}}"/> 
                              <button class="ui right floated button modify_button" style="display: none;" type="submit">修改資料</button> 
                            </form>
                          </div>
                        </div>
                  </div>
                {{/each}}
                  
              </div>
              
          </div>
            
        
      </div>

    </body>  
    <script>
      $(document).ready(function(){
        $('#edit_button').click(function(){
          $('.x').show()
          $('.modify_button').show()
          $('#edit_button').hide()
          $('#done_button').show()
        })
        $('#done_button').click(function(){
          $('.x').hide()
          $('.modify_button').hide()
          $('#edit_button').show()
          $('#done_button').hide()
        })

        $('body').on('click', '.x', function(){
          let house_num = $(this).attr('house_num')
          alert('您確定要刪除這筆房屋資訊嗎?')
          $.ajax({
            url: 'delete_house',
            data: {
              house_num: house_num
            },
            success: function (data){
              $('#house_amount').html(`已上傳${$('#house_amount').html().match(/\d+/)-1}間房屋`)
              $(`#house_${house_num}`).remove()
            }
          })            
        })
      });
    </script>    
</html>